name: Build

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - "**/**.md"
    branches:
      - master

env:
  NODE_VERSION: 20
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  EXAMPLE_PATH: ./example

jobs:
  install-dependencies:
    name: Install dependencies
    runs-on: ubuntu-latest
    outputs:
      YARN_CACHE_DIR: ${{ steps.yarn-cache-dir-path.outputs.dir }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Set yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        id: yarn-cache
        with:
          path: |
            **/node_modules
            **/.eslintcache
            ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Init
        run: make init

  lint:
    name: Lint
    needs: install-dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        id: yarn-cache
        with:
          path: |
            **/node_modules
            **/.eslintcache
            ${{ needs.install-dependencies.outputs.YARN_CACHE_DIR }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Format
        run: make fmt
      - name: Lint
        run: make lint
      - name: Check types
        run: make type-check
      - name: Check custom ESLint rules
        run: make test-eslint

  unit-test:
    name: Unit test
    needs: install-dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        id: yarn-cache
        with:
          path: |
            **/node_modules
            **/.eslintcache
            ${{ needs.install-dependencies.outputs.YARN_CACHE_DIR }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Unit test
        run: make test

  build:
    name: Build
    needs: install-dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        id: yarn-cache
        with:
          path: |
            **/node_modules
            **/.eslintcache
            ${{ needs.install-dependencies.outputs.YARN_CACHE_DIR }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: SDK Build
        run: make build
      - name: Copy generated files
        run: make copy-genfiles
      - name: Example Init
        working-directory: ${{ env.EXAMPLE_PATH }}
        run: make init
      - name: Example Build
        working-directory: ${{ env.EXAMPLE_PATH }}
        run: make build

  e2e:
    name: E2E tests
    needs: install-dependencies
    uses: ./.github/workflows/e2e.yml
    secrets:
      E2E_HOST: ${{ secrets.E2E_HOST }}
      E2E_TOKEN: ${{ secrets.E2E_TOKEN }}
      E2E_SERVER_ROLE_TOKEN: ${{ secrets.E2E_SERVER_ROLE_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN}}

