name: e2e

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      E2E_API_ENDPOINT:
        required: true
      E2E_SCHEME:
        required: false # Optional, defaults to 'https'
      E2E_CLIENT_API_KEY:
        required: true
      E2E_SERVER_API_KEY:
        required: true
      NPM_TOKEN:
        required: true

env:
  NODE_VERSION: 20
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

jobs:
  e2e:
    name: e2e test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Set yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        id: yarn-cache
        with:
          path: |
            **/node_modules
            **/.eslintcache
            ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Init
        run: make init
      - name: Build
        run: make build
      - name: e2e test
        run: |
          API_ENDPOINT="${{ secrets.E2E_API_ENDPOINT }}"
          SCHEME="${{ secrets.E2E_SCHEME }}"
          if [ -z "$SCHEME" ]; then
            SCHEME="https"
          fi
          CLIENT_API_KEY="${{ secrets.E2E_CLIENT_API_KEY }}"
          SERVER_API_KEY="${{ secrets.E2E_SERVER_API_KEY }}"

          sed -i -e "s|<API_ENDPOINT>|${API_ENDPOINT}|" \
            -e "s|<SCHEME>|${SCHEME}|" \
            -e "s|<CLIENT_API_KEY>|${CLIENT_API_KEY}|" \
            -e "s|<SERVER_API_KEY>|${SERVER_API_KEY}|" \
            ava-e2e.config.mjs
          make e2e
