name: release

on:
  workflow_dispatch:
  push:
    branches:
      - master

env:
  NODE_VERSION: 20
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

jobs:
  release_please:
    permissions:
      contents: write
      pull-requests: write
    name: Release Please
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release
        with:
          token: ${{ secrets.WORKFLOW_TOKEN }} # We need to set the PAT so the update changelog docs page workflow can be triggered

  publish:
    name: Publish
    needs: release_please
    if: ${{ needs.release_please.outputs.release_created }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: 'https://registry.npmjs.org'
      - name: Publish to npm registry
        run: |
          make init
      - name: Build
        run: |
          make build
      - name: Publish to npm registry
        run: |
          make copy-genfiles
          npm publish --access public
